 
 .navbar-inverse .navbar-nav>li>a {
    font-size: 20px;
    padding-right: 4rem;
    
  }
  .navbar-inverse .navbar-brand {
  color: #26913f;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 40px 45px;
}
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    text-decoration-color: rgb(255, 255, 255);
    border: 0px solid transparent;

}
#size {
  color:#ffffff;
  padding-right: 4rem;
  padding-left: 2rem;
  display: block;
    text-decoration: none;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 1px;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  background-color: #f6aa3d;
}
.imagen{

  width: 400px;
  z-index: 2;
}

  footer {
    background-color: #6cc4b9;
    padding: 40px;
    border-radius: 10em;
    height: 10px;
    position: relative;
  }

   #foot {
    background-color: #000000;
    padding: 40px;
    border-radius: 10em;
    height: 10px;
  top:-100px;
  }
.img-responsive {
  position: block;
  max-width: 100%;
  height: auto;
  padding:0px;
  }
 
 .column {
  float: left;
  }

 
  .left {
  width: 220px;
  margin-bottom: 50px;
  margin-top: 50px;
  }

  .middle {
  width: 1000px;
  }
  
  .right {
  width:150px ;
  margin-bottom: 50px;
  margin-top: 50px;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }
.speech-bubble {
  background: #6cc4b9;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 1em;
    padding: 2em;
    position: relative;
    text-align: center;
    vertical-align: top;
    min-width: 15em;
    border-radius: 10em;
    top:-100px;
    right: 400px;
    font-family: 'Roboto', sans-serif;
}
.speech-bubble:after {
	border: 1em solid transparent;
    border-top-color: #6cc4b9;
    content: '';
    margin-left: -1em;
    position: absolute;
    top: 100%;
    left: 60%;
    width: 0;
    height: 0;
    
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}
